<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("~/Views/AdminPartials/HeadPartial.cshtml")
<a href="c:\users\ibrah\source\repos\agricultureapp\agricultureapp\views\adminpartials\headpartial.cshtml">c:\\ibrah\source\repos\agricultureapp\agricultureapp\views\adminpartials\headpartial.cshtml</a>
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("~/Views/AdminPartials/NavbarPartial.cshtml")
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("~/Views/AdminPartials/SideBarPartial.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/AdminPartials/ScriptPartial.cshtml")
</body>
</html>
