@using EntityLayer.Concrete
@model List<About>
<div class="about" id="about">
    <div class="container">
        <h3 class="tittle">Hakkımızda</h3>
        <p class="heading-btm-w3ls">Daha Fazla Bilgi İçin Bizimle İletişime Geçebilirsiniz.</p>
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li>Tarihçe</li>
                <li>Vizyon</li>
                <li>Referans</li>
            </ul>
            @foreach(var x in Model)
            {
            <div class="resp-tabs-container">
                <div class="tab1">
                    <p class="para-w3-agileits">@x.History</p>
                </div>
                <div class="tab2">
                    <p class="para-w3-agileits">@x.AboutUS</p>
                </div>
                <div class="tab3">
                    <div class="clients">
                        <ul>
                            <li><img src="images/c1.png" alt="clients" class="img-responsive" /><span>Sean Damon</span></li>
                            <li><img src="images/c2.png" alt="clients" class="img-responsive" /><span>Natalie Barnes</span></li>
                            <li><img src="images/c3.png" alt="clients" class="img-responsive" /><span>John Mccoist</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
