
<nav class="sidebar sidebar-offcanvas " id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index">
                <i style="color:black" class="mdi mdi-home menu-icon"></i>
                <span style="color:black" class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/Index">
                <i style="color:black" class="mdi mdi-playlist-star menu-icon"></i>
                <span style="color:black" class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Team/Index">
                <i style="color:black" class="mdi mdi-account-group menu-icon"></i>
                <span style="color:black" class="menu-title">Personeller</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Announcement/Index">
                <i style="color:black" class="mdi mdi-bullhorn menu-icon"></i>
                <span style="color:black" class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index">
                <i style="color:black" class="mdi mdi-message-bulleted menu-icon"></i>
                <span style="color:black" class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Image/Index">
                <i style="color:black" class="mdi mdi-image-album menu-icon"></i>
                <span style="color:black" class="menu-title">Resimler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index">
                <i style="color:black" class="mdi mdi-map-marker menu-icon"></i>
                <span style="color:black" class="menu-title">Adres Düzenlemesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Chart/Index">
                <i style="color:black" class="mdi mdi-chart-pie menu-icon"></i>
                <span style="color:black" class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#auth">
                <i style="color:black" class="mdi mdi-cogs menu-icon"></i>
                <span style="color:black" class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Index">
                <i style="color:black" class="mdi mdi-lock menu-icon"></i>
                <span style="color:black" class="menu-title">Yetkili İşlemleri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut">
                <i style="color:black" class="mdi mdi-logout menu-icon"></i>
                <span style="color:black" class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>

